@import '../../scss/_variables';


.pizzaBlockValue{
    padding-top: 8px;
    width: 30px;
    display: block;
    justify-content: center;
}

.countValue{
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.pizza_block {
  cursor: pointer;
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.03);
  }

  &_wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 240px;
    height: auto;
    position: relative;
    left: 4px;
  }

  &__title {
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    width: 240px;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

