.burger.active{
    .burger__line_first::after{
        transform: rotate(44deg);
        top: 9px;
        width: 32px;
    }
    .burger__line_second::after{
        transform: rotate(134deg);
        top: 0px;
        width: 32px;
    }
    .burger__line_last::after {
        left: 100%;
        width: 12px;
    }
}

.burger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: transparent;
    transition: all 0.3s;
    position: relative;
    top: 4px;
    border: none;
    display: none;
    z-index: 11;

    &__line_first,
    &__line_second {
        width: 30px;
        height: 9px;
        position: relative;
        display: block;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 3.8px;
            background-color: #fe5f1e;
            border-radius: 8px;
            transition: all 0.3s;
        }
    }

    &__line_last {
        width: 30px;
        height: 9px;
        position: relative;
        display: block;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 3.8px;
            background-color: #fe5f1e;
            border-radius: 8px;
            transition: all 0.3s;
        }
    }
}

///media

@media(max-width:800px){
    .burger{
        display: block;
    }
}
