@import '../../shared/styles/variables';

.content {
  padding: 40px 0;
  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 38px;
    line-height: 28px;
    margin: 50px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 11px;
    justify-content: center;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 730px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1230px) {
  .content {
    &__top {
      display: block;
      position: relative;
    }
  }
}

@media (max-width: 320px) {
  .content__title {
    font-size: 32px;
    line-height: 22px;
  }
}